/* Ime Prezime Indeks */
body{
    margin: auto;
    padding: auto;
}
#fcse-intro > header > h1{
    font-size: 70px;
    text-align: center;
    margin: 0;
}
#fcse-intro > header > h2{
    font-style: italic;
    margin: 0;
    margin-left: 600px;
    color: #ce352d;
    margin-bottom: 50px;


}
#fcse-summary {
    background: url("img/top.png") no-repeat;
    height: 400px;
    width: 1000px;
    padding: 0;
    margin: 0;
    border-bottom: 5px solid #ce352d;
}
#fcse-summary > p{
    margin-left: 700px;
    width: 300px;
    font-style: italic;
    color: #ce352d;

}
#fcse-miniintro > h3{
    color: #ce352d;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#fcse-miniintro{
    width: 500px;
    margin-left: 5px;
}
#fcse-people > h3{
    color: #ce352d;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#fcse-people{
    float: right;
    width: 500px;
    margin-top: -360px;
}
.walter{
    background: url("img/walter.png") no-repeat 600px, 280px;


}
#fcse-walter > p:nth-child(2), #fcse-walter > p:nth-child(3), #fcse-walter > p:nth-child(4){
    width: 500px;
}
#fcse-walter > h3{
    color: #ce352d;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.jessie{
    background: url("img/jessie.png") no-repeat;
    height: 313px;
}
#fcse-jessie > h3{
    color: #ce352d;
    font-size: 50px;
    margin-left: 530px;
}
#fcse-jessie > p{
    margin-left: 530px;
    width: 500px;
}
#fcse-history > h3{
    color: #ce352d;
    font-size: 50px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
#fcse-history > p:nth-child(2){
    width: 500px;
}
#fcse-history > p:nth-child(3){
    float: right;
    width: 500px;
    margin-top: -200px;
}
#fcse-footer a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;

}
#fcse-footer{
    background: #193850;
    height: 40px;
    text-align: center;
    padding-top: 15px;
}
#css-fcse > div.page-wrapper > aside{
    background: #53a5df;
    margin-top: -20px;
}
#fcse-interviews{
    float: right;
    width: 500px;
    margin-top: -350px;
}
#fcse-related{
    float: right;
    width: 500px;
    margin-top: -200px;
}
#bb-selection > div > ul li{
    padding: 8px;
}
