#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7ddf96;
    height: 700px;
}

#upper{
    padding-top: 30px;
    padding-bottom: 30px;
}

#upper a{
    font-size: 17px;
    font-weight: bolder;
}

#lower{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border: none;
    border-radius: 3px;
    width: 90%;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

#lower_upper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 0 15px 20px 15px;
}

#lower_left{
    padding-right: 20px;
    width: 100%;
}

#lower_left p{
    padding-bottom: 8px;
    padding-top: 20px;
}

#lower_left div{
    padding-top: 20px;
}

#lower_left button{
    margin: 0 3px 0 3px;
}

#lower_right{
    padding-left: 20px;
}

#lower_right p{
    padding-bottom: 8px;
    padding-top: 20px;
}

#lower_right div{
    padding-top: 20px;
}

#lower_right button{
    margin: 0 3px 0 3px;
}

#WriteSomething{
    padding-bottom: 120px;
    text-align: left;
}

.input{
    width: 99%;
    height: 33px;
    border-color: #d2d2d2;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-left: 10px;
}

#date{
    width: 100%;
    height: 33px;
    border-color: #d2d2d2;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-left: 10px;
}

optgroup{
    padding: 100px;
}

#lower_lower{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lower_lower button{
    width: 410px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #04aa6d;
    color: whitesmoke;
}

#file{
    padding-left: 3px;
    padding-right: 3px;

}
